{% extends 'base.html' %}

{% block contenido %}

<h1>¿Está seguro de eliminar?</h1>
<form method = "post">
  {% csrf_token %}
  <p>
  <div class="form-group">
    <label for="{{ formulario.nombre.id_for_label }}">{{ formulario.nombre.label }}</label>
    {{ formulario.nombre }}
  </div>
  <div class="form-group">
    <label for="{{ formulario.abreviacion.id_for_label }}">{{ formulario.abreviacion.label }}</label>
    {{ formulario.abreviacion }}
  </div>
  <button type="submit" class="btn btn-primary">Aceptar</button>
  <a href="/crud/" class="btn btn-danger">Cancelar</a>
</form>

{% endblock %}
