{% extends 'base.html' %}

{% block contenido %}
<p></p>
<!-- <h1>Mantencion de monedas</h1> -->

<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" href="#">Informat</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'crudindex' %}">Monedas</a>
      </li>
    </ul>
  </div>
</nav>

<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Mantención de Monedas</h1>
      <p>Mantención de Monedas, nuestro proyecto número uno.</p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Contacto</a></p>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2>UF</h2>
        <p>Puede asignar el valor de la moneda en pesos para la UF. </p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>Dolar</h2>
        <p>Soporta valores en distintos tipos de valores de dolar</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>EURO</h2>
        <p>valores para la moneda Europea</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div>
    </div>

  </div> <!-- /container -->

</main>

<footer class="container">
  <p>&copy; Company 2017</p>
</footer>

{% endblock %}
